<body>
  <div class="container">
    <header>
      <div class="header-logo" style="background: url(https://static.vecteezy.com/system/resources/previews/029/749/233/non_2x/cartoon-style-japanese-sport-cars-no-background-applicable-to-any-context-perfect-for-print-on-demand-merchandise-ai-generative-png.png) #FFC3C3 50% / cover no-repeat; mix-blend-mode: darken;"></div>
      <div class="header-title">
          <h1>Historia de los Autos  Evolución y Transformación</h1>
      </div>
  </header>    
      <main>
          <section class="impact">
              <div class="image" style="background: url(https://png.pngtree.com/png-clipart/20230914/original/pngtree-classic-cars-vector-png-image_12096822.png) lightgray 50% / cover no-repeat;"></div>
              <h2>Innovaciones y Avances Tecnológicos</h2>
              <p>La industria automotriz ha visto innumerables innovaciones, como la introducción 
                del cinturón de seguridad, los sistemas de navegación GPS y las tecnologías de 
                conducción autónoma. Los avances en eficiencia de combustible y seguridad han 
                mejorado la experiencia del usuario y la sostenibilidad.</p>
          </section>
          <section class="types">
              <div class="image" style="background: url(https://png.pngtree.com/png-clipart/20220123/original/pngtree-hand-drawn-cartoon-ferrari-sports-car-png-image_7165220.png) lightgray 50% / cover no-repeat;"></div>
              <h2>Fabricantes y Modelos Icónicos</h2>
              <p>A lo largo de la historia, varios fabricantes y modelos han dejado una marca 
                significativa. Ford, con el Modelo T, revolucionó la producción en masa. 
                Ferrari y Lamborghini se convirtieron en sinónimos de autos deportivos de alta 
                gama. Toyota lidera hoy con su enfoque en la eficiencia y la sostenibilidad, 
                especialmente con el Prius, pionero en tecnología híbrida.</p>
          </section>
          <section class="solutions">
              <div class="image" style="background: url(https://static.latamautos.com/ghost/seminuevos/2023/02/Asi-puedes-saber-si-tienes-adeudos-de-tenencia-o-refrendos.jpeg) lightgray 50% / cover no-repeat;"></div>
              <h2>Impacto Económico de los Autos</h2>
              <p>La industria automotriz ha sido una fuerza impulsora en la economía global, 
                creando millones de empleos y estimulando el desarrollo de infraestructuras. 
                La producción y venta de autos han generado ingresos significativos y han 
                influido en políticas económicas y comerciales a nivel mundial.</p>
          </section>
      </main>
      <footer>
        <h2>Perspectivas Futuras</h2>
        <p>El futuro de los autos apunta hacia la electrificación y la automatización. 
          Las políticas deben fomentar la infraestructura para vehículos eléctricos y el 
          desarrollo de tecnologías sostenibles. Promover la investigación y la 
          innovación en el sector automotriz es esencial para un futuro más eficiente y 
          limpio.</p>
        <div class="footer-logo" style="background: url(https://static.vecteezy.com/system/resources/previews/029/749/233/non_2x/cartoon-style-japanese-sport-cars-no-background-applicable-to-any-context-perfect-for-print-on-demand-merchandise-ai-generative-png.png) #FFC3C3 100% / cover no-repeat; mix-blend-mode: darken; float: right;"></div>
      </footer>
    
  </div>
</body>
